<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body class="container">

    <header>
    </header>

    <main>
        <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to templating using EJS</p>
            <button id="press-me">Danny</button>
            <button id="press-josh">Josh</button>
        </div>
    </main>

    <footer>
    </footer>
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="index.js"></script>

    <!-- <script>
      $('#press-me').click(function() {
        $.get( '/getUserName', function(data) {
          console.log(data);
           $('body').html(data.UserName);
         });
      });
    </script> -->
</body>
</html>
