<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
  <link rel="stylesheet" href="style.css">



</head>
<body class="container">

    <header>
    </header>

    <main>
      <h1>Drivio</h1>
      <div class="bluebox">
        <h2>
          You have met your daily target!
        </h2>
        <p id="dailyAvgTotal">23</p>
        <div class="drivingAvg">
          <p class="dailyAvg"><strong id="dailyCityAvg">19</strong> city</p>
          <p class="dailyAvg"><strong id="dailyHwAvg">25</strong> highway</p>
        </div>
        <p class="mpgwhite">Miles per gallon</p>
      </div>
      <div class="whitebox">
        <h4 class="epa">
          EPA Estimates
        </h4>
        <p class="govVals">Highway</p>
        <p class="govVals">Overall</p>
        <p class="govVals">City</p>

        <div class="col1-1-1">
          <p id="govHW">26</p>
          <p class="mpg">mpg</p>
        </div>
        <div class="col1-1-1">
          <p id="govOver">26</p>
          <p class="mpg">mpg</p>
        </div>
        <div class="col1-1-1">
          <p id="govCity">26</p>
          <p class="mpg">mpg</p>
        </div>
      </div>
      
      <h4 class="epa">
          Today's Driving Records
      </h4>

      <div class="record">
        <div class="fuelAvg">
          <p id="fuelEcoTrips"></p>
          <p class="mpg">mpg</p>
        </div>
        <div class="tripDur">
          <p class="lt">Trip Duration</p>
          <p id="ltLength"></p>
          <p class="mpg">minutes</p>
        </div>
        <div class="avgSpeed">
          <p class="lt">Avg Speed</p>
          <p id="ltDistance"></p>
          <p class="mpg">km/h</p>
        </div>
      </div>


        <div>
          <p class="left">Last Trip Average</p>
          <p class="right" id="fuelEcoTrips"></p>
        </div>
        <div>
          <p class="left">Last Trip Duration</p>
          <p class="right" id="ltLength"></p>
        </div>
        <div>
          <p class="left">Last Trip Distance</p>
          <p class="center" id="ltDistance"></p>
          <p class="right">KM</p>
        </div>

    </main>

<!-- Leaderboard -->
    
    <section>
      <div class="leaderboard">
        <h1 class="leaderboard_h1">leaderboard</h1>
        
        <div class="sortbar">
          <h1 class="sb_filters">
            Filters
          </h1>
          <p class="sb_weekly">
            Weekly 
          </p>
          <p class="sb_mpg">
            Best overall mpg
          </p>
        </div>

        <div class="first">
          <div class="id_box">
            <div class="rank">  
              <h4 class="rank_h4">
                RANK
              </h4>
              <h1 class="gold">
                1
              </h1>
            </div>

            <div class="identification">
              <p class="name">
                Danny Blackstock
              </p>
              <p class="carType">
                1999 Honda Civic Coupe
              </p>
            </div>

            <div class="medal">
              <p>
                Average MPG here
              </p>
              <p>mpg</p>
            </div>
          </div>

          <div class="userStats">
            <div class="trips">
              <p>Trips recorded: <strong class="totalTrips"></strong></p>
            </div>
            <div class="time">
              <p><strong class="totalTime"></strong> Minutes</p>
            </div>
            <div class="totalExperience">
              <p>exp: <strong class="userExp"></strong></p>
            </div>
          </div>
        </div>

      </div>

    </section>

    <footer>
    </footer>
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="index.js"></script>
</body>
</html>
